@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
:root {
    --clr0: rgb(167, 167, 167);
    --clr1: rgb(17, 41, 255);
    --clr2: rgb(20, 117, 8);
    --clr3: rgb(255, 25, 17);
    --clr4: rgb(2, 0, 100);
    --clr5: rgb(119, 5, 5);
    --clr6: rgb(15, 119, 114);
    --clr7: rgb(143, 7, 161);
    --clr8: rgb(94, 94, 94);
    --clrBomb: rgb(0, 0, 0);
    --clrFlag: rgb(185, 0, 0);
    --clrDark: rgb(26, 26, 26);
    --clrLight: rgb(219, 219, 219);
    --clrAlpha: rgba(0, 0, 0, 0);
}

html {
    background-color: var(--clrLight);
    color: var(--clrDark);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}

table {
    box-shadow: 0px 0px 20px 5px rgba(41, 41, 41, 0.75);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(41, 41, 41, 0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(41, 41, 41, 0.75);
}

label,
input {
    font-family: inherit;
    font-size: 1.2rem;
}

input,
button {
    text-align: center;
    width: 60px;
    padding: 2px;
    margin-top: 10px;
    background-color: var(--clrAlpha);
    border-style: none;
    border-bottom: var(--clrDark) solid 1px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

input:hover,
button:hover {
    cursor: pointer;
    width: 70px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

table,
td {
    font-size: 1.2rem;
    font-family: 'Alfa Slab One', cursive;
    border: var(--clrDark) 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    color: var(--clrLight);
    background-color: var(--clr0);
    width: 25px;
    height: 25px;
}

td:hover {
    cursor: pointer;
}

.bomb {
    color: var(--clrBomb);
}

.cell0 {
    color: var(--clr0);
}

.cell1 {
    color: var(--clr1);
}

.cell2 {
    color: var(--clr2);
}

.cell3 {
    color: var(--clr3);
}

.cell4 {
    color: var(--clr4);
}

.cell5 {
    color: var(--clr5);
}

.cell6 {
    color: var(--clr6);
}

.cell7 {
    color: var(--clr7);
}

.cell8 {
    color: var(--clr8);
}

.hidden {
    background-color: var(--clrLight);
    color: var(--clrDark);
    box-shadow: 0px 0px 5px 2px rgba(167, 167, 167, 0.75) inset;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(167, 167, 167, 0.75) inset;
    -moz-box-shadow: 0px 0px 5px 2px rgba(167, 167, 167, 0.75) inset;
}

.flagged {
    color: var(--clrFlag);
}